# **LOOPING STATEMENTS EXERCISE**

### 1. Print -10 to -1 using for loop

In [2]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### 2. Using while loop print numbers 1 to 10

In [3]:
i=1
while(i<11):
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10

### 3. Using for loop print first ten even numbers

In [4]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### 4. Using while loop generate the table of 5

In [12]:
i=1
while(i<=10):
    mul = 5 * i
    print(5," x ",i," = ",mul)
    i +=1

5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50

### 5. Using for loop generate the table of 8

In [5]:
for i in range(11):
    print(8," x ",i," = ",8*i )

8  x  0  =  0
8  x  1  =  8
8  x  2  =  16
8  x  3  =  24
8  x  4  =  32
8  x  5  =  40
8  x  6  =  48
8  x  7  =  56
8  x  8  =  64
8  x  9  =  72
8  x  10  =  80

### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
### If a number is divisible by 5, then print Buzz.
### If a number is divisible by 3 and 5 both, then print FizzBuzz
### If a number is neither divisible by 3 or 5, just print the number.

Hint: use range(1,101) function  to generate numbers from 1 to 100

In [15]:
for number in range(1,101):
    if number % 3==0:
        print("Buzz")
    elif number % 3==0 and number % 5==0:
        print("FizzBuzz")
    elif number % 5==0:
        print("Buzz")
    else:
        print("neither divisible by 3 and 5")

neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
Buzz
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
Buzz
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
Buzz
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
Buzz
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
Buzz
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
Buzz
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
Buzz
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
Buzz
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
Buzz
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
Buzz
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
Buzz
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
Buzz
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
neither divisible by 3 and 5
Buzz
Buzz
neither divisible by 3 and 5
neither divisible by 3 and 5
Buzz
Buzz

### 7.  Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

In [20]:
sum=0
for i in range(1,101):
    sum=sum+i
print(sum)

5050

### 8. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

In [24]:
for number in range(202,320):
    if number % 7==0 and number % 5!=0:
        print(number)

203
217
224
231
238
252
259
266
273
287
294
301
308

### 9. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

In [27]:
st = "Data Science"
str1="aeiouAEIOU"
sum = 0
for i in st:
    if i in str1:
        sum+=1

In [28]:
sum

5

### 10. Print Data Science 5 times using for loop

In [29]:
for i in range(5):
    print("Data Science")

Data Science
Data Science
Data Science
Data Science
Data Science